.fullscreen {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $green;
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 10px;
  color: white;
  @media (max-width: 992px) {
    padding: 10px;
    padding-top: 30px;
    height: auto;
  }
}

.txt-appear, .txt-appear2 {
  font-size: 1.8em;
  opacity: 0;
  transform: translateY(100%) scale(2);
  animation: txt-anim 0.6s 0.5s ease-out forwards;
  @media (max-width: 992px) {
    font-size: 1.2em;
    margin: 40px 0px;
  }
  @media (max-width: 768px) {
    font-size: 1.2em;
  }
}

// carroussel

.carousel-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 500px;
  height: 500px;
  @media (max-width: 992px) {
    display: none;
  }
}

.carousel-slide {
  background-color: white;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 30vw;
  max-width: 500px;
}

.carousel-slider {
  height: 120%;
  width: 110%;
  position: absolute;
  left: -1px;
  background-color: $green;
  animation: slider-anim 1.2s 0.2s cubic-bezier(0.15, 0.32, 0.62, 0.99) forwards;
  &__one {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
  &__three {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  & img {
    width: 100%;
    height: 100%;
  }
  animation: slide-img 1.5s 0.2s forwards;
}

//carousel small

.carousel-small {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: 200ms;
  margin-top: 30px;
  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width: 768px) {
    height: 400px;
  }
}

.carousel-small-slide {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
}

.carousel-small-slide img {
  width: 400px;
  height: 500px;
}

@keyframes carousel {
  0% {
    transform: translateX(000px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    transform: translateX(-100px);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  65% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carousel-small > .carousel-small-slide {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;

  animation: carousel 10s infinite;
}

.carousel-small-slide:nth-child(2) {
  animation-delay: 3.33s;
}
.carousel-small-slide:nth-child(3) {
  animation-delay: 6.66s;
}

// connection

.connection {
  background-color: white;
  padding-bottom: 0px;
  min-height: 900px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: black;
  position: relative;
  overflow: hidden;
}

// News

.news {
  background-color: $green;
  padding: 50px;
  color: white;
  overflow: hidden;
  max-width: 100%;
}

.news p {
  font-size: 1.3rem;
}

.swiper-container, .swiper-container2 {
  overflow: visible;
  max-height: 350px;
  position: relative;
  margin: 40px 0px;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide, .swiper-slide2 {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  position: relative;
 
}

.swiper-slide img, .swiper-slide2 img {
  border-radius: 5px;
  max-width: 100%;
  cursor: grab;
}

.swiper-slide img:active,.swiper-slide2 img:active{
  cursor: grabbing;
}

.swiper-slide:hover, .swiper-slide2:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
  transition-delay: 200ms;
  z-index: 1;
}

.swiper-slide:hover img, .swiper-slide2:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
}


.swiper-button-next, .swiper-button-prev {
  top: 50%;
}

