.fullscreen {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  background-color: $green;
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 10px;
  color: white;
  font-family: "Sharp Grotesk", sans-serif;
  @media (max-width: 992px) {
    padding: 10px;
    padding-top: 30px;
    height: auto;
  }
}

.txt-appear,
.txt-appear2 {
  font-size: 1.8em;
  opacity: 0;
  transform: translateY(100%) scale(2);
  animation: txt-anim 0.6s 0.5s ease-out forwards;
  @media (max-width: 992px) {
    font-size: 1.2em;
    margin: 40px 0px;
  }
  @media (max-width: 768px) {
    font-size: 1.2em;
  }
}

// carroussel

.carousel-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 500px;
  height: 500px;
  @media (max-width: 992px) {
    display: none;
  }
}

.carousel-slide {
  background-color: white;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 30vw;
  max-width: 500px;
}

.carousel-slider {
  height: 120%;
  width: 110%;
  position: absolute;
  left: -1px;
  background-color: $green;
  animation: slider-anim 1.2s 0.2s cubic-bezier(0.15, 0.32, 0.62, 0.99) forwards;
  &__one {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
  &__three {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }
}

.carousel-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  & img {
    width: 100%;
    height: 100%;
  }
  animation: slide-img 1.5s 0.2s forwards;
}

//carousel small

.carousel-small {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: 200ms;
  margin-top: 30px;
  @media (min-width: 992px) {
    display: none;
  }
  @media (max-width: 768px) {
    height: 400px;
  }
}

.carousel-small-slide {
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
}

.carousel-small-slide img {
  width: 400px;
  height: 500px;
}

@keyframes carousel {
  0% {
    transform: translateX(000px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    transform: translateX(-100px);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  65% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carousel-small > .carousel-small-slide {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;

  animation: carousel 10s infinite;
}

.carousel-small-slide:nth-child(2) {
  animation-delay: 3.33s;
}
.carousel-small-slide:nth-child(3) {
  animation-delay: 6.66s;
}

// connection

.connection {
  background-color: $background-color;
  padding-bottom: 0px;
  min-height: 800px;
  max-height: 1000px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: black;
  position: relative;
  overflow: hidden;
}

// News

.news {
  background-color: $green;
  padding: 50px;
  color: white;
  overflow: hidden;
  max-width: 100%;
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.news p {
  font-size: 1.3rem;
}

.swiper-container,
.swiper-container2 {
  overflow: visible;
  max-height: 350px;
  position: relative;
  margin: 40px 0px;
}

.swiper-wrapper {
  height: auto;
}

.swiper-slide,
.swiper-slide2 {
  transition: all 300ms ease-in-out;
  border-radius: 5px;
  position: relative;
}

.swiper-slide img,
.swiper-slide2 img {
  border-radius: 5px;
  max-width: 100%;
  cursor: grab;
}

.swiper-slide img:active,
.swiper-slide2 img:active {
  cursor: grabbing;
}

.swiper-slide:hover,
.swiper-slide2:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
  transition-delay: 200ms;
  z-index: 1;
}

.swiper-slide:hover img,
.swiper-slide2:hover img {
  transition-delay: 300ms;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
}

.about {
  background-color: $background-color;
  position: relative;
  padding: 50px;
  @media (max-width: 768px) {
    padding: 20px;
  }
}

.usps__container {
max-width: 100%;
position: relative;
}

.usps__item,
.usps__list {
  height: var(--height-desktop);
  @media (max-width: 992px){
    height: var(--height-mobile);
}
}

.usps__list {
  margin-inline: auto;
  margin-top: calc((var(--total) - 1) * 30px);
  max-width: 840px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.usps__item {
  background: #ecf2fd;
  border-radius: 20px;
  display: grid;
  left: 0;
  overflow: hidden;
  padding: 40px;
  place-items: center;
  position: absolute;
  top: 0;
  top: calc((var(--current) - var(--tab)) * 30px);
  transform: scale(calc(1 - (var(--tab) - var(--current)) * 0.03));
  transform-origin: top center;
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: var(--z-index);
}

.usps__item-wrapper {
  font-size: 1.5em;
  line-height: 1.2;
  max-height: 100%;
  max-width: 450px;
  overflow: auto;
  padding: 10px 0;
  text-align: center;
}

// Boutons
.btns-wrapper {
  margin-top: 2rem;
}



.btns-wrapper, .hs-btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.usps__arrow {
  background-color: $orange;
  border: 0;
  border-radius: 50%;
  display: grid;
  height: 46px;
  margin: 0;
  padding: 0;
  place-items: center;
  width: 46px;
  cursor: pointer;
}

.usps__arrow--prev {
  transform: rotate(180deg);
}

.usps__item:nth-child(4n + 1) {
  background-color: $orange;
  color: #fff;
}
.usps__item:nth-child(4n + 2) {
  background-color: $primary-color;
  color: #fff;
}
.usps__item:nth-child(4n + 3) {
  background-color: $green;
  color: #fff;
}
.usps__item:nth-child(4n + 4) {
  background-color: #ccdcf6;
  color: black;
}

[data-current-stage="2"] .usps__item--1 {
  transform: scale(0.8) translateY(50%);
  opacity: 0;
  visibility: hidden;
}

[data-current-stage="3"] .usps__item--1 {
  transform: scale(0.8) translateY(50%);
  opacity: 0;
  visibility: hidden;
}

[data-current-stage="4"] .usps__item--1 {
  transform: scale(0.8) translateY(50%);
  opacity: 0;
  visibility: hidden;
}

// 2

[data-current-stage="3"] .usps__item--2 {
  transform: scale(0.8) translateY(50%);
  opacity: 0;
  visibility: hidden;
}

[data-current-stage="4"] .usps__item--2 {
  transform: scale(0.8) translateY(50%);
  opacity: 0;
  visibility: hidden;
}

//3

[data-current-stage="4"] .usps__item--3 {
  transform: scale(0.8) translateY(50%);
  opacity: 0;
  visibility: hidden;
}
