.button {
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 170px;
  font-size: 1.3em;
  cursor: pointer;
  transition: 200ms ease;
  position: relative;
  overflow: hidden;
  z-index: 0;
  &__green {
    color: white;
    background-color: $green;
    --spancolor: #f3cc02;
    &:hover {
      color: black;
      @media (max-width: 768px) {
        color: white;
      }
    }
  }
  &__orange {
    color: white;
    background: $orange;
  }
  &__yellow {
    background-color: $yellow;
    --spancolor: #e74e00;
    &:hover {
      color: white;
      @media (max-width: 768px) {
        color: black;
      }
    }
  }
  &__white {
    background-color: white;
  }
  &__reveal {
    transform: scale(1.3);
    opacity: 0;
    animation: button-reveal 1.5s 1.5s forwards;
  }
  & span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--spancolor);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &:hover span {
    transform: translateY(0) scale(2);
  }
  & span:nth-child(1) {
    --n: 1;
  }
  & span:nth-child(2) {
    --n: 2;
  }
  & span:nth-child(3) {
    --n: 3;
  }
  & span:nth-child(4) {
    --n: 4;
  }
}
