// Le choix de la fraicheur
@keyframes txt-anim {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes logo-anim {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(00%);
  }
}

@keyframes header-anim {
  0% {
    transform: translatey(-100%);
  }
  to {
    transform: translatey(00%);
  }
}

//animation des 3 images du début

// carroussel - animation {

  @keyframes slider-anim {
    0% {
      transform: translateY(00%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  
  @keyframes slide-img {
    to {
      transform: scale(1);
    }
  }

.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}

@keyframes button-reveal {
    to {
        opacity: 1;
    }
}