@import "./Utils/color.scss";
@import "./Utils/text.scss";
@import "./Utils/animation.scss";
@import "./Utils/swiper.scss";
@import "./Components/heading.scss";
@import "./Layouts/header.scss";
@import "./Layouts/form.scss";
@import "./Layouts/footer.scss";
@import "./Components/button.scss";
@import "./Pages/index.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    font-family: "inter", sans-serif;
    background-color: $green;
}

.page-container {
    max-width: 100vw;
    overflow: hidden;
    position: relative;
    
}