.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: $primary-color;
  padding: 250px;
  @media (max-width:1200px) {
    padding:50px;
  }
  @media (max-width:992px) {
    padding:20px;
  }
}

.form-container h2 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form-container-img1 {
  position: absolute;
  top: 20px;
}

.form-container-img2 {
  position: absolute;
  top: 470px;
  left: 10px;
  @media (max-width: 576px) {
    display: none;
  }
}

.form-container-img3 {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

// Section login

.connection-left {
  background-image: url("../img/connection2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  max-width: 800px;
  min-width: 500px;
  padding: 50px;
  @media (max-width: 992px) {
    display: none;
  }
}
.connection-left p {
  margin-top: 100px;
  font-size: 1.5em;
}

.connection-info {
  color: white;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.connection-info p {
  margin-bottom: 20px;
}

.contact-button {
  margin: auto;
}

// Le formulaire
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: white;
  border-radius: 15px;
  @media (max-width: 992px) {
    min-width: 0;
    max-width: 95%;
  }
}

.login p,
.register p {
  font-size: 2em;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.input-container {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}



.big-input {
  border: none;
  height: 35px;
  width: 100%;
  border: solid white 1px;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.input-img {
  height: 100%;
}

.transform-label {
  // Apparaisse quand on écrit du texte
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 200ms ease-out;
  font-size: 1em;
  visibility: hidden;
  color: white;
}

.transform-label ~ input {
  color: white;
  padding-left: 20px;
  font-size: 1em;
  &::placeholder {
    color: white;
  }
}

// checkbox

.input-container__checkbox {
  display: flex;
  flex-direction: row-reverse;
  
}

.checkbox-label {
  font-size: 0.9rem;
}

.checkbox-input {
  margin-right: 10px;
  border-radius: 50%;
  border: none;
}

// password forgot

.input-container__forgot {
  display: flex;
  justify-content: end;
}

// register

.register {
  background-color: $yellow;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 500px;
  padding: 30px;
  border-radius: 15px;
  color: white;
  border: solid 5px $orange;
}
