.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.form-container-img1 {
  position: absolute;
  top: 20px;
}

.form-container-img2 {
  position: absolute;
  top: 470px;
  left:10px;
  @media (max-width:576px) {
    display: none;
  }
}

.form-container-img3 {
  position: absolute;
  bottom: 50px;
  right:10px;
}

// Section login

.connection-info {
  background-color: $background-color;
  background-image: url("../img/connection2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 60%;
  max-width: 800px;
  min-width: 500px;
  padding: 50px;
  @media (max-width: 992px) {
    display: none;
  }
}
.connection-info p {
  margin-top: 40px;
  margin-bottom: 40px;
}

// Le formulaire
.login {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 500px;
  padding: 30px;
  position: absolute;
  color: white;
  border-radius: 15px;
  @media (max-width: 992px) {
    min-width: 0;
    max-width: 95%;
  }
}

.login p,.register p {
  font-size: 2em;
  font-weight: 600;
}

.input-container {
  width: 100%;
  position: relative;
}

.big-input {
  border: none;
  height: 35px;
  width: 100%;
  border: solid white 2px;
  background-color: $yellow;
  border-radius: 5px;
  color: white;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-img {
  height: 100%;
}

.transform-label {
  // Apparaisse quand on écrit du texte
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 200ms ease-out;
  font-size: 1em;
  visibility: hidden;
  color: white;
}

.transform-label ~ input {
  color: white;
  padding-left: 20px;
  font-size: 1em;
  &::placeholder {
    color: white;
  }
}

// checkbox

.input-container__checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.checkbox-label {
  font-size: 0.9rem;
}

.checkbox-input {
  margin-right: 10px;
  border-radius: 50%;
  border: none;
}

// password forgot

.input-container__forgot {
  display: flex;
  justify-content: end;
}

// register

.register {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 500px;
  padding: 30px;
  border-radius: 15px;
  position: absolute;
  color: white;
}

//animation form

.active-l {
  z-index: 2;
  transform: perspective(100px) translate3d(0px, 0px, -0px);
  animation-name: foregrounding-l;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.active-r {
  animation-name: foregrounding-r;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-l {
  animation-name: overshadowing-l;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-r {
  z-index: 0;
  transform: perspective(200px) translate3d(100px, 65px, -50px);
  animation-name: overshadowing-r;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

// ANIMATION

@keyframes overshadowing-l {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes overshadowing-r {
  0% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes foregrounding-l {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes foregrounding-r {
  0% {
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    z-index: 2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
