header {
  width: 100%;
  max-height: 138px;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  position: relative;
  transform: translateY(-100%);
  animation: header-anim 0.7s ease-out forwards;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
  animation: logo-anim 0.6s 0.5s forwards ease-out;
  // animation
  opacity: 0;
  transform: translateY(-100%);
}
